@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  color: #34495e; }

a {
  text-decoration: none;
  color: #34495e; }

.h_2 {
  margin: 64px 0 20px 0; }

h1, h2, h3, h4, strong {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #2c3e50; }

.container {
  width: 100%;
  box-sizing: border-box;
  padding-top: 61px; }

.header {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  padding: 10px 60px;
  z-index: 100;
  box-sizing: border-box; }

.logo {
  width: 101px;
  height: 44px;
  font-size: 24px;
  line-height: 40px;
  color: #2c3e50;
  text-decoration: none !important;
  font-family: "Arial Narrow", sans-serif; }

.logo span {
  cursor: pointer; }

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 6px;
  vertical-align: middle; }

.logos {
  color: #7f8c8d;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  display: block; }

.logos img {
  width: 125px; }

.logos:last-child {
  margin-bottom: 14px; }

#nav {
  list-style-type: none;
  right: 30px;
  position: absolute;
  top: 10px;
  height: 40px;
  line-height: 40px; }
  #nav li {
    display: inline-block;
    position: relative;
    margin: 0 9.6px; }
  #nav form {
    display: block;
    margin-top: 0; }

.inpt {
  position: relative;
  display: inline-block;
  direction: ltr;
  line-height: normal; }

.search-input {
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 15px 0 30px;
  border: 1px solid #e3e3e3;
  color: #2c3e50;
  outline: none;
  border-radius: 15px;
  margin-right: 10px;
  transition: border-solor 0.2s;
  vertical-align: middle !important;
  cursor: text;
  background: #fff url("../img/search-icons.png") 8px 5px no-repeat;
  background-size: 20px;
  background-repeat: no-repeat; }

.search-input:focus {
  border: 1px solid #42b983; }

.nav-drop {
  cursor: pointer;
  padding-bottom: 3px;
  white-space: nowrap;
  background: none;
  border: none; }

.nav-drop:hover {
  border-bottom: 3px solid #42b983; }

#nav .navlink-container .arrow {
  pointer-events: none; }

#nav .arrow {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  margin-left: 3px;
  margin-right: -14px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #ccc; }

.navlink-container {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  box-sizing: border-box;
  max-height: calc(100vh - 61px);
  overflow-y: auto;
  top: 100%;
  right: -15px;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  text-align: left;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 3; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/*----- yesil ok icin ----- */
.item-on {
  display: none;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid #42b983;
  color: #42b983;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: 20%;
  margin-top: -4px;
  left: 8px; }

#nav .navlink-container .dropdown-content .item:focus .item-on {
  display: block; }

#nav .navlink-container .dropdown-content .item:hover {
  color: #42b983; }

.item-on1 {
  display: none;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid #42b983;
  color: #42b983;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 8px; }

#nav .navlink-container .dropdown-content .item1:focus .item-on1 {
  display: block; }

#nav .navlink-container .dropdown-content .item1:hover {
  color: #42b983; }

.item-on2 {
  display: none;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid #42b983;
  color: #42b983;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: 80%;
  margin-top: -4px;
  left: 8px; }

#nav .navlink-container .dropdown-content .item2:focus .item-on2 {
  display: block; }

#nav .navlink-container .dropdown-content .item2:hover {
  color: #42b983; }

.wrap {
  width: 100%;
  padding: 0 60px 30px;
  box-sizing: border-box; }

.wrap .sidebar {
  position: fixed; }

.sidebar {
  z-index: 10;
  top: 61px;
  left: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll; }

.sidebar .sidebar_content {
  width: 260px;
  padding: 40px 20px 60px 60px; }

.sidebar .sidebar_content h2 {
  font-weight: 600;
  color: #2c3e50; }

.sidebar .sidebar_content .sponsor span {
  color: #7f8c8d;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif; }

.sidebar .sidebar_content .sponsor {
  margin-top: -10px; }

.content {
  position: relative;
  padding: 33px 0 33px 50px;
  max-width: 600px;
  margin: 0 auto; }

.sponsor {
  width: 125px; }

.sidebar_content .side_menu {
  padding-left: 0; }
  .sidebar_content .side_menu h3 {
    margin: 17px 0; }

.sidebar ul {
  list-style-type: none;
  margin: 0;
  line-height: 24px;
  padding-left: 12px; }

.sidebar .sidebar-link.current {
  font-weight: 600;
  color: #42b983; }

.sidebar .sidebar-link {
  color: #7f8c8d; }

.sidebar-link:hover {
  border-bottom: 2px solid #42b983; }

.sidebar-link:focus {
  color: #42b983; }

.sidebar .menu-content {
  font-size: 12px;
  display: none; }

.baslik-link::before {
  content: "#";
  color: #42b983;
  position: absolute;
  left: 35px;
  margin-top: 1.2px;
  padding-right: 8px;
  font-size: 20px;
  line-height: 1;
  font-weight: bold; }

.h3_c {
  margin-top: 60px;
  margin-bottom: 25px; }

.p_text {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
  line-height: 27px; }
  .p_text a {
    color: #42b983; }

code {
  color: #e96900;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
  background-color: #f8f8f8; }

.tip {
  border-left-color: #f66;
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #f8f8f8;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px; }

.tip:before {
  content: "!";
  background-color: #f66;
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px; }

.button {
  font-size: 0.9em;
  color: #fff;
  margin: 0.2em 0;
  width: 180px;
  text-align: center;
  padding: 12px 24px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2em;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4fc08d; }

.info {
  font-size: 0.85em;
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  margin-left: 20px;
  color: #7f8c8d; }

/* ------------------------------- */
.kurulum figure {
  margin: 19.2px 0;
  display: block; }

.highlight {
  overflow-x: auto;
  background-color: #f8f8f8;
  padding: 6.4px 0 0;
  line-height: 17.6px;
  border-radius: 2px;
  position: relative; }

.highlight table, .highlight tr, .highlight td {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0; }

td, th {
  display: table-cell; }

.code pre {
  padding: 1.2em 1.4em;
  line-height: 1.5em;
  margin: 0;
  font-size: 0.8em;
  font-family: monospace; }

.line {
  min-height: 24px;
  color: #525252; }

.tag {
  color: #2973b7; }

.string {
  color: #42b983; }

.attrbt {
  margin-left: 5px; }

.table {
  width: 100%;
  background-color: #f8f8f8;
  margin: 18px 0;
  padding: 24.4px 16.8px;
  box-sizing: border-box; }
  .table .tbody {
    width: 100%;
    box-sizing: border-box; }

/*---------------Farklı Yapıların Tanımlanması Tablo------------------------ */
.tablo {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.2em auto;
  padding: 0;
  display: block;
  overflow-x: auto;
  background-color: #f8f8f8; }
  .tablo thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit; }
  .tablo tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit; }
  .tablo th {
    text-align: left; }

.tablo th, .tablo td {
  line-height: 1.5em;
  padding: 0.4em 0.8em;
  border: 1px solid #ddd; }

.tablo tr:nth-child(2n) {
  background-color: #fff; }

/*----------------Farklı Yapıların Tanımlanması Tablo-------------------------- */
/* ---------------Terimler------------------- */
.li_p {
  padding-bottom: 20px; }

/* -----------------Terimler ----------------- */
/* Code renklendirme sınıfları tasarımlar ve sairler. */
.keyword {
  color: #e96900; }

.aciklama_satiri {
  color: #b3b3b3; }

.in-line {
  padding-left: 20px; }

.in-line2 {
  padding-left: 40px; }

.in-line3 {
  padding-left: 60px; }

.h4_c {
  margin-top: 30px;
  margin-bottom: 25px; }

/* Code renklendirme sınıfları tasarımlar ve sairler. */
.show {
  display: block !important; }

/*# sourceMappingURL=style.css.map */
